/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    min-height: 100vh;
    background: -webkit-linear-gradient(left top, rgb(67, 214, 240), rgb(66, 187, 240), rgb(64, 149, 229), rgb(55, 116, 199));
    background: -o-linear-gradient(bottom right,rgb(67, 214, 240), rgb(66, 187, 240), rgb(64, 149, 229), rgb(55, 116, 199));
    background: -moz-linear-gradient(bottom right, rgb(67, 214, 240), rgb(66, 187, 240), rgb(64, 149, 229), rgb(55, 116, 199));
    background: linear-gradient(to bottom right, rgb(67, 214, 240), rgb(66, 187, 240), rgb(64, 149, 229), rgb(55, 116, 199));
}


 .categories-container, .flavors-container, .single-flavor, .add-form-container, .edit-form-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .header-container, .footer-container {
     font-family: "Chewy", cursive;
 }

 .header {
     font-size: 60px;
     color: #fffdd0;
     text-decoration: underline;
     text-shadow: 3px 3px #ff00ff;
 }

 .sub-header {
     color: #fffdd0;
     font-size: 30px;
     text-align: center;
     text-shadow: 3px 3px #ff00ff;
 }

 .footer {
    color: #fffdd0; 
    text-shadow: 3px 3px #ff00ff;
 }

 .categories {
     list-style: none;
 }

 .category, .flavor, a {
     font-size: 35px;
     padding: 20px;
     color: #fffdd0;
     font-family: "Chewy", cursive;
     text-shadow: 3px 3px #ff00ff;
 }

 .edit {
     font-size: 25px;
     color: #fffdd0;
     font-family: "Chewy", cursive;
     display: inline-block;
     padding: 10px;
 }

 .links {
     font-size: 20px;
     padding: 20px;
     color: #fffdd0;
     font-family: "Chewy", cursive;
 }

 .categories-back {
     color: #fffdd0;
     font-family: "Chewy", cursive;
     display: inline-block;
     padding: 15px;
 }

 .flavors-back {
     display: inline-block;
     padding: 15px;
 }

.flavor-image {
    border: 5px solid #ff00ff;
}

 .flavor-name, .flavor-header {
     font-family: 'Chewy', cursive;
     font-size: 45px;
     color: #fffdd0;
     text-shadow: 3px 3px #ff00ff;
 }

 .base-flavor {
     font-size: 30px;
     font-family: 'Chewy', cursive;
     color: #fffdd0;
 }

 .description {
     font-size: 22px;
     color: #fffdd0;
     font-family: "Chewy", cursive;
 }

 .form {
     padding: 10px;
 }

 .input {
     font-size: 20px;
     background-color: #ff00ff;
     font-family: "Chewy", cursive;
     color: #fffdd0;
     padding: 5px;
     margin-top: 20px;
 }

 .label {
     font-size: 25px;
     color: #fffdd0;
     font-family: "Chewy", cursive;
     padding: 5px;
 }

 .submit {
     font-size: 25px;
     font-family: "Chewy", cursive;
     border: 3px solid #fffdd0;
     color: #fffdd0;
     padding: 5px;
     margin-top: 20px;
     background-color: #ff00ff;
 }