/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    min-height: 100vh;
    background: -webkit-linear-gradient(left top, rgb(67, 214, 240), rgb(66, 187, 240), rgb(64, 149, 229), rgb(55, 116, 199));
    background: -o-linear-gradient(bottom right,rgb(67, 214, 240), rgb(66, 187, 240), rgb(64, 149, 229), rgb(55, 116, 199));
    background: -moz-linear-gradient(bottom right, rgb(67, 214, 240), rgb(66, 187, 240), rgb(64, 149, 229), rgb(55, 116, 199));
    background: linear-gradient(to bottom right, rgb(67, 214, 240), rgb(66, 187, 240), rgb(64, 149, 229), rgb(55, 116, 199));
}


 .categories-container, .flavors-container, .single-flavor {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .header-container, .footer-container {
     font-family: "Chewy", cursive;
 }

 .header {
     font-size: 60px;
     color: #fffdd0;
 }

 .footer {
    color: #fffdd0; 
 }

 .categories {
     list-style: none;
 }

 .category, .flavor {
     font-size: 25px;
     padding: 20px;
     color: #fffdd0;
 }

 .edit {
     font-size: 20px;
     color: #fffdd0;
 }

 .links {
     font-size: 20px;
     padding: 20px;
     color: #fffdd0;
 }

 .categories-back {
     font-size: 25px;
     color: #fffdd0;
 }

 .flavor-name, .flavor-header {
     font-family: 'Chewy', cursive;
     font-size: 45px;
     color: #fffdd0;
 }

 .base-flavor {
     font-size: 20px;
     font-family: 'Chewy', cursive;
     color: #fffdd0;
 }

 .description {
     font-size: 18px;
     color: #fffdd0;
 }

 