<h1><%= @category.name %> Flavors</h1>

<ol>
    <% @flavors.each do |flavor| %>
        <li> <%= link_to flavor.name, category_flavor_path(@category, flavor) %></li>
    <% end %>    
</ol>

<%= link_to "Add New Flavor", new_category_flavor_path(params[:id]) %><br>

<%= link_to "Flavor Categories", categories_path %>