<ol>
    <% @flavors.each do |flavor| %>
        <li> <%= link_to flavor.name, category_flavor_path(@category, flavor) %></li>
    <% end %>    
</ol>

<%= link_to "Flavor Categories", categories_path %>